main{
    min-height: 100vh;
    min-width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-container{
    min-width: 400px;

    display: flex;
    flex-direction: column;
    gap: 1rem;
}

form{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}
.input-group{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;

    input{
        border: none;
        outline: none;
        padding: 0.6rem 1rem;
        border-radius: 0.6rem;
    }
}

a{
    color: #e1034d;
    text-decoration: none;
}